.PokemonNavDetails {
  display: flex;
  justify-content: center;
  flex: 0 0 100%;
  flex-direction: row;
}

.PokemonNavDetails ul {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  background-color: #333;
}

.PokemonNavDetails li {
  display: inline-block;
  margin: 15px;
}

.PokemonNavDetails li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.PokemonNavDetails li a:hover {
  background-color: #111;
}
